<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Themes Industry">
    <meta name="description" content="Booking Karaoke">
    <meta name="keywords" content="HTML,CSS,Javascript,SQL">
    <title>Karaoke Piano</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/bundle.min.css">
    <link rel="stylesheet" href="/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="/css/wow.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/mediaelementplayer.min.css">
    <link rel="stylesheet" href="/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/layers.css">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body data-spy="scroll" data-target=".navbar-nav" data-offset="100">


    <!--loading start-->
    <div class="loader">
        <div class="inner-loader">
            <div class="loader1"></div>
        </div>
    </div>
    <!--loading end-->

    <!--bottom Arrow start-->
    <div class="bottom-arr scroll-top-arrow">
        <i class="las la-angle-up"></i>
    </div>
    <!--bottom Arrow end-->
    <!--header sec end-->

    <!--Header Start-->
    <header class="head-sec cursor-light">

        <!--Navigation-->
        <nav class="navbar navbar-top-default navbar-expand-lg navbar-simple nav-line">
            <div class="container">
                <h1 style="font-size: 30px; color: white;">KARAOKE-PIANO</h1>
                </a>
                <!--Nav Links-->
                <div class="collapse navbar-collapse" id="megaone">

                    <div class="navbar-nav ml-auto">
                        <a class="nav-link active scroll" href="#slider-sec">Trang chủ</a>
                        <a class="nav-link scroll" href="#about-sec">Đặt phòng</a>
                        <a class="nav-link scroll" href="#speaker-sec">Liên hệ</a>
                        <a class="nav-link scroll" href="#testimonial-sec">Đánh giá</a>
                    </div>
                </div>


            </div>

            <ul class="slider-social toggle-btn">
                <li class="animated-wrap">
                    <a class="animated-element" href="javascript:void(0);" id="sidemenu_toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </li>
            </ul>
            </div> -->
        </nav>


    </header>

    <!--Header End-->

    <!--slider sec start-->
    <div class="slider-sec cursor-light" id="slider-sec">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="slider-shop"
            data-source="gallery" style="background:rgba(255,255,255,0);padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
            <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-thumb="assets/100x50_44515-slider-bg-3.jpg" data-rotate="0" data-saveperformance="off"
                        data-title="Slide 3" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                        data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                        <!-- MAIN IMAGE -->
                        <img src="/img/img1.png.jpg" data-bgposition="center center" data-bgfit="cover"
                            data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" alt="slider-image"
                            data-no-retina="">
                        <div class="slider-overlay"></div>


                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-3-layer-1"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-80','-75','-74','-74']"
                            data-fontsize="['18','18','16','16']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5;font-size: 16px;white-space: nowrap;letter-spacing: 2.5px;line-height: 22px; font-weight: 500; color: #eaeaef;font-family: 'Montserrat', sans-serif;text-transform: uppercase">
                            Chào mừng quý khách đến với</div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-3-layer-2"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-8','-12','-12','-12']"
                            data-fontsize="['80','70','60','50']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 16px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family: 'Dancing Script', cursive;">
                            KARAOKE PIANO</div>

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-3-layer-3"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['70','55','55','55']"
                            data-fontsize="['22','20','20','20']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 40px; font-weight: 400; color: #eaeaef; font-family:'Montserrat', sans-serif;letter-spacing: 1px;text-transform: uppercase;">
                            Hân hạnh được phục vụ quý khách</div>

                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>

            <!--SLIDER SOCIAL ICONS BTN-->
            <div class="slider-icons">
                <ul class="slider-social social-icons">
                    <li class="animated-wrap"><a class="animated-element"
                            href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                class="fab fa-facebook-f"></i> </a></li>
                    <li class="animated-wrap"><a class="animated-element"
                            href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                class="fab fa-youtube"></i> </a></li>
                    <li class="animated-wrap"><a class="animated-element"
                            href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                class="lab la-instagram"></i> </a></li>
                </ul>
            </div>

            <!--SLIDER DOWN ARROW-->
            <a class="navigate-arrow" href="#about-sec">
                <i class="fas fa-chevron-down"></i>
            </a>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
    <div class="aimated-cursor">
        <div class="cursor">
            <div class="cursor-loader"></div>
        </div>
    </div>
    <!--slider sec end-->

    <!--About sec start-->
    <div class="about-sec" id="about-sec" style="background: white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-center about-self">
                    <div class="about-heading">
                        <span class="heading-subtitle" style="font-size: 30px;"><b>- PHÒNG VIP -</b></span>
                        <form action="/booking-new" method="GET">
                            <button type="submit" style="margin-top: 15px; background: black;color: white;">ĐẶT
                                PHÒNG</button>
                        </form>
                    </div>
                    <div class="about-image-holder">
                        <img src="/img/img2.png.jpg" alt="">
                    </div>
                    <div class="about-img-des">
                        <div class="inner-text">
                            <p class="small-text"></p>
                            <span class="quote">~ KARAOKE PIANO ~</span>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6 text-center about-self">
                    <div class="about-heading">
                        <span class="heading-subtitle" style="font-size: 30px;"><b>- PHÒNG THƯỜNG -</b></span>
                        <form action="/booking-new" method="GET">
                            <button type="submit" style="margin-top: 15px; background: black;color: white;">ĐẶT
                                PHÒNG</button>
                        </form>
                    </div>

                    <div class="about-image-holder">
                        <img src="/img/z4101291158671_957e20ab291e9764bde452297c48c387.jpg" alt="Alex Ferdinand">
                    </div>

                    <div class="about-img-des">
                        <div class="inner-text">
                            <p class="small-text"></p>
                            <span class="quote">~ KARAOKE PIANO ~</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--About sec end-->

    <!--Counters sec Start-->
    <div class="count-sec count-sec1"
        style="background: url('/img/z4101291158671_957e20ab291e9764bde452297c48c387.jpg');">
        <div class="count-overlay"></div>
        <div class="container">
            <div class="row text-left banner-2-content">
                <div class="col-12">
                    <div class="text-home">
                        <h1 class="heading">ĐẶC BIỆT</h1>
                        <p class="text-white banner-2-content-p">Giảm 10% tổng giá trị hóa đơn khi đặt tiệc sinh nhật,
                            họp mặt gia đình, cơ quan, bạn bè,....</p>
                        <p class="sub-heading text-grey"></p>
                        <form action="/booking-new">
                            <a href="#" class="btn white-and-black rounded-pill">Nhận ngay ưu đãi</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Counters sec end-->


    <!--Speaker sec start-->
    <div class="speaker-sec" id="speaker-sec">
        <div class="container">
            <div class="row text-center speakers-detail">
                <div class="col-12">
                    <span class="sub-heading" style="font-size: 35px;"><b>ĐẾN NGAY VỚI CHÚNG TÔI</b></span>
                    <h4 class="large-heading" style="font-size: 30px;padding-top: 10px;">HOTLINE: 0123456789</h4>
                    <h4 class="large-heading" style="font-size: 30px;">Địa chỉ: 13 Kiệt 81 Nguyễn Huệ, Phú Nhuận, Huế
                    </h4>
                    <span class="fly-line"></span>
                </div>
            </div>
            <div class="speaker owl-carousel owl-theme text-center">
                <div class="item speaker-info">
                    <div class="image-holder">
                        <img src="/img/img6.jpg" alt="speaker">
                        <div class="overlay d-flex justify-content-center align-items-center">
                            <div class="speaker-links">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item speaker-info">
                    <div class="image-holder">
                        <img src="/img/img5.jpg" alt="speaker">
                        <div class="overlay d-flex justify-content-center align-items-center">
                            <div class="speaker-links">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item speaker-info">
                    <div class="image-holder">
                        <img src="/img/img2.png.jpg" alt="speaker">
                        <div class="overlay d-flex justify-content-center align-items-center">
                            <div class="speaker-links">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item speaker-info">
                    <div class="image-holder">
                        <img src="/img/img3.jpg" alt="speaker">
                        <div class="overlay d-flex justify-content-center align-items-center">
                            <div class="speaker-links">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100081297881315"><i
                                                class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Speaker sec end-->

    <!--testimonial sec start-->
    <div class="testimonial-sec" id="testimonial-sec">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center testimonial-heading">
                    <a href="/booking-new">
                        <span class="sub-heading" style="font-size: 30px;"><b>ĐÁNH GIÁ CHÚNG TÔI</b></span></a>
                    <h4 class="large-heading">Trải nghiệm của khách hàng</h4>
                    <span class="fly-line"></span>

                </div>
            </div>
            <div class="testimonial-card owl-carousel owl-theme">
                <div class="item text-center">
                    <div class="testimonial-review">
                        <div class="image-holder">
                            <img src="https://cdn.tgdd.vn/Files/2022/02/21/1416573/bill-gates_1280x720-800-resize.jpg"
                                alt="testimonial-img">
                        </div>
                        <div class="client-info media-body">
                            <h5 class="client-name mt-0">- BILL GATES -</h5>
                            <p class="client-designation">Billionairs</p>
                        </div>
                        <div class="review-detail">
                            <p class="text-des"> Âm thanh rất hay, sống động, dịch vụ đầy đủ</p>
                            <ul class="test-review">
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="testimonial-review">
                        <div class="image-holder">
                            <img src="https://media.cnn.com/api/v1/images/stellar/prod/230126170244-elon-musk-jan-24-2023.jpg?c=original"
                                alt="testimonial-img">
                        </div>
                        <div class="client-info media-body">
                            <h5 class="client-name mt-0">- ELON MUSK-</h5>
                            <p class="client-designation">CEO</p>
                        </div>
                        <div class="review-detail">
                            <p class="text-des">Quá tuyệt vời, nhân viên nhiệt tình, giá cả phải chăng</p>
                            <ul class="test-review">
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="testimonial-review">
                        <div class="image-holder">
                            <img src="https://cdn.tgdd.vn/Files/2022/02/21/1416534/-0740564_1280x828-800-resize.jpg"
                                alt="testimonial-img">
                        </div>
                        <div class="client-info media-body">
                            <h5 class="client-name mt-0">- JACK MA -</h5>
                            <p class="client-designation">Business man</p>
                        </div>
                        <div class="review-detail">
                            <p class="text-des">5 sao cho quán, lần sau tôi sẽ đến quán lại. Respect</p>
                            <ul class="test-review">
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                                <li><a href="/booking-new"><i class="las la-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--testimonial sec end-->


    <!--contact us sec start-->
    <div class="contact-sec" id="contact-sec" style="background-image: url('wedding/img/speaker_bg1.jpg')">
        <div class="row no-gutters">

            <div class="col-12 location-details-contact">
                <div class="row no-gutters">

                    <div class="col-12 col-md-4 loc-details">
                        <div class="contact-box d-flex justify-content-center align-items-center">
                            <div class="media">
                                <i class="las la-city"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">Địa chỉ</h5>
                                    <p>13 Kiệt 81 Nguyễn Huệ, Phú Nhuận, Huế</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 loc-details">
                        <div class="contact-box d-flex justify-content-center align-items-center">
                            <div class="media">
                                <i class="las la-phone"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">HOTLINE</h5>
                                    <p>0123456789</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 loc-details">
                        <div class="contact-box d-flex justify-content-center align-items-center">
                            <div class="media">
                                <i class="las la-map-marker"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">FACEBOOK</h5>
                                    <a href="https://www.facebook.com/profile.php?id=100081297881315"
                                        style="text-decoration: none;">Like Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!--contact us sec end-->


        <!--footer sec start-->
        <footer class="footer-sec" id="footer-sec">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="footer-icons d-flex">
                            <a href="https://www.facebook.com/profile.php?id=100081297881315" class="wow fadeInUp"><i
                                    class="lab la-facebook-f"></i> </a>
                            <a href="https://www.facebook.com/profile.php?id=100081297881315" class="wow fadeInDown"><i
                                    class="lab la-twitter"></i> </a>
                            <a href="https://www.facebook.com/profile.php?id=100081297881315" class="wow fadeInUp"><i
                                    class="lab la-google"></i> </a>
                            <a href="https://www.facebook.com/profile.php?id=100081297881315" class="wow fadeInDown"><i
                                    class="lab la-linkedin-in"></i> </a>
                            <a href="https://www.facebook.com/profile.php?id=100081297881315" class="wow fadeInUp"><i
                                    class="lab la-instagram"></i> </a>
                            <a href="https://www.facebook.com/profile.php?id=100081297881315" class="wow fadeInDown"><i
                                    class="las la-envelope"></i> </a>
                        </div>
                    </div>

                    <div class="col-12 text-center mt-3">
                        <p class="company-about fadeIn">© 2023 KARAOKE-PIANO Made With Love By <a
                                href="javascript:void(0);" style="text-decoration:none;color:#000000;">QViet</a></p>
                    </div>

                </div>
            </div>
        </footer>
        <!--footer sec end-->




        <script src="/js/bundle.min.js"></script>
        <script src="/js/jquery.themepunch.tools.min.js"></script>
        <script src="/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/js/jquery.cubeportfolio.min.js"></script>
        <!-- SLIDER REVOLUTION EXTENSIONS -->
        <script src="/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/js/extensions/revolution.extension.video.min.js"></script>
        <!-- SNOW ADD ON -->
        <script src="/js/extensions/revolution.addon.snow.min.js"></script>
        <script src="/js/TweenMax.min.js"></script>
        <script src="/js/countdown.js"></script>
        <script src="/js/parallaxie.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/tilt.jquery.js"></script>
        <script src="/js/wow.min.js"></script>
        <!--counter js links-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJScy7qJ156DWM8kJVG-ZrK0R7Kize2Jg "></script>
        <script src="/js/map.js"></script>
        <script src="/js/script.js"></script>
</body>

</html>